.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #1A0B2E ;
    color: #ffffff;
}
hr{
    background-color: #412567;
}

nav{
    max-width: 1200px;
    margin: 24px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 32px;
}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 120%;
}
nav h1{
    max-width: 219px;
    font-weight: 800;
}
nav h1 span{
    background-image: linear-gradient(to top, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
nav button{
    width: 135px;
    padding: 12px 16px;
    border-radius: 10000px;
    border: none;
    background: linear-gradient(to left, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff;
}
.hr-part{
    border: 1px solid #412567;
}
.hero-contents{
    max-width: 550px;
    padding-top: 101px;
    /* padding-bottom: 101px; */
    margin: 0px auto;
    text-align: center;
}
.microphone{
    max-width: 350px;
    height: 350px;
    margin: 0 auto;
    background-image: url(assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    padding-top: 85px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 89px;
}
.hero-contents-section{
    background-image: url(assets/hero-bg.png);
    background-position: center;
    background-size: cover;
}
.hero-contents .microphone-icon{
    font-size: 1.125rem;
    position: relative;
}
.hero-contents h1{
    margin-top: 40px;
    font-size: 3.75rem;
    margin-bottom: 8px;
}
.hero-contents p{
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 24px;
    opacity: 80%;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 101px;
}
.hero-contents-section .btn-1{
    width: 201px;
    background: linear-gradient(to left, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    padding: 12px 20px;
    border: none;
    border-radius: 10000px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
    color: #ffffff;
    justify-content: space-between;
    font-weight: 600;
    cursor: pointer;
}
.hero-contents-section .btn-2{
    width: 147px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #00FF88;
    background-color: transparent;
    border: none;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    cursor: pointer;
}
.about-the-podcast{
    background-color: #1A0B2E;
    max-width: 1228px;
    margin: 50px auto;
    margin-bottom: 0px;
}
.about-the-podcast h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
}
.about-the-podcast p{
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 80px;
    opacity: 80%;
}
hr{
    margin-bottom: 80px;
    border: 1px solid #412567;
}
.reviews{
    display: flex;
    justify-content: space-around;
}
.review h1{
    color: #00FF88;
    font-weight: 900;
}
.review p{
    text-transform: uppercase;
    font-weight: 200;
    margin-bottom: 120px;
}
.why-choose-section{
    background-color: #230E3D;
}
.why-choose{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
}
.why-choose h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
}
.why-choose .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}
.cards .card-1{
    max-width: 380px;
    grid-row: span 2;
}
.cards .card-2{
    grid-column: span 2;
}
.cards .card-3{
    grid-column: span 2;
}
.cards .card-4{
    grid-column: span 2;
}
.card-1{
    background-color: rgba(53, 17, 101, 0.4);
    padding-top: 107.5px;
    padding-left: 40px;
    border-radius: 40px ;
}
.card-1 h3{
    margin-top: 16px;
    margin-bottom: 16px;
}
.card-1 p{
    max-width: 300px;
    margin-bottom: 107.5px;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 300;
    opacity: 60%;
}
.card-2{
    padding-top: 40px;
    padding-left: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px ;
}
.card-2 img{
    padding-bottom: 16px;
}
.card-2 h3{
    margin-bottom: 16px;
}
.card-2 p{
    font-size: 1rem;
    font-weight: 300;
    opacity: 60%;
}
.card-3{
    padding-top: 40px;
    padding-left: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px ;
}
.card-3 img{
    padding-bottom: 16px;
}
.card-3 h3{
    margin-bottom: 16px;
}
.card-3 p{
    font-size: 1rem;
    font-weight: 300;
    opacity: 60%;
}
.card-4{
    padding-top: 40px;
    padding-left: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px ;
}
.card-4 img{
    padding-bottom: 16px;
}
.card-4 h3{
    margin-bottom: 16px;
}
.card-4 p{
    font-size: 1rem;
    font-weight: 300;
    opacity: 60%;
    margin-bottom: 40px;
    padding-right: 40px;
}
.card-5{
    padding-top: 40px;
    padding-left: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px ;
}
.card-5 img{
    padding-bottom: 16px;
}
.card-5 h3{
    margin-bottom: 16px;
}
.card-5 p{
    font-size: 1rem;
    font-weight: 300;
    opacity: 60%;
    margin-bottom: 40px;
    padding-right: 40px;
}

.episode{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 120px;
}
.episode h1{
    margin-bottom: 40px;
}
.videos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.episode h1{
    text-align: center;
}
.video-1{
    max-width: 380px;
    background-color: rgba(37, 13, 68, 1);
    border-radius: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.video-1 h3{
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 1.5rem;
    padding-bottom: 12px;
}
.video-1 p{
     padding-left: 24px;
    padding-right: 24px;
    font-size: 1rem;
    font-style: 500;
    opacity: 60%;
    margin-bottom: 12px;
}
.video-2{
    max-width: 380px;
    background-color: rgba(37, 13, 68, 1);
    border-radius: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.video-2 h3{
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 1.5rem;
    padding-bottom: 12px;
}
.video-2 p{
     padding-left: 24px;
    padding-right: 24px;
    font-size: 1rem;
    font-style: 500;
    opacity: 60%;
    margin-bottom: 12px;
}
.video-3{
    max-width: 380px;
    background-color: rgba(37, 13, 68, 1);
    border-radius: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.video-3 h3{
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 1.5rem;
    padding-bottom: 12px;
}
.video-3 p{
     padding-left: 24px;
    padding-right: 24px;
    font-size: 1rem;
    font-style: 500;
    opacity: 60%;
    margin-bottom: 12px;
}
.time{
    display: flex;
    padding-left: 24px;
    gap: 6px;
    margin-bottom: 24px;
}
.time h5{
    color: #00FF88;
    font-weight: 600;
}
iframe{
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.host{
    max-width: 1200px;
    margin: 120px auto;
    margin-bottom: 0px;
}
.host h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
}
.host-card{
    display: flex;
    padding: 40px;
    align-items: center;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    margin-bottom: 120px;
}
.host-profile{
    margin-left: 24px;
}
.host-profile h2{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 16px;
}
.host-profile p{
    font-size: 1rem;
    font-weight: 300;
    opacity: 60%;
    line-height: 24px;
    margin-bottom: 16px;
}
.profiles-handles{
    max-width: 184px;
    height: 40px;
    display: flex;
    gap: 8px;
    align-items: center;
}
.profiles-handles img{
    max-width: 16px;
    height: 16px;
}
.first, .second, .third{
    border: 1px solid #412567;
    padding: 12.4px 12px;
    border-radius: 50%;
}
footer{
    background-image: url(assets/footer-bg.png);
}

.footer-content{
    max-width: 1360px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
}
.footer-content h1{
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 32px;
}
.footer-content span{
     background-image: linear-gradient(to top, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.footer-content .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.footer-content .icon{
    display: flex;
    align-items: center;
    gap: 8px;
}
.icon{
    font-size: 1rem;
    font-weight: 400;
    opacity: 60%;
}
.copy-right{
    text-align: center;
    margin-top: 32px;
    opacity: 60%;
    font-size: 1rem;
    font-weight: 300;
}